codes/.DS_Store

codes/application/cache/*
codes/!application/cache/index.html

codes/application/logs/*
codes/!application/logs/index.html

codes/!application/*/.htaccess

codes/composer.lock
codes/tests/mocks/database/ci_test.sqlite

codes/user_guide_src/build/*
codes/user_guide_src/cilexer/build/*
codes/user_guide_src/cilexer/dist/*
codes/user_guide_src/cilexer/pycilexer.egg-info/*
codes//vendor/

# IDE Files
#-------------------------
codes/nbproject/
codes/.idea/*

## Sublime Text cache files
codes/*.tmlanguage.cache
codes/*.tmPreferences.cache
codes/*.stTheme.cache
codes/*.sublime-workspace
codes/*.sublime-project
codes/tests/tests/
codes/tests/results/

codes/assets/img/*
