:root {
	--primary-light: #f1f5f9;
	--primary:#1e293b;
	--primary-soft: #334155;
	--fg-placeholder: #94a3b8;
	--secondary: #cbd5e1;
	--secondary-dark: #0f172a;
	--transparent-dark: #0f172abb;
	--fg-gutter: #d1d5db;
	--admin-nav-primary: #991b1b;
	--admin-nav-primary-dark: #7f1d1d;
	--admin-nav-secondary: #b91c1c;
	--admin-nav-width: 250px;
	--notification: #dc2626;
	--error: #b91c1c;
	--nav-search-width: 700px;
	--nav-logo-width: 300px;
	--dashboard-full: calc(100vh - 60px);
	--message-offset: 25px;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-family: 'Roboto', sans-serif;
	color:var(--secondary);
}
body {
	background-color: var(--primary);
}
.input-textarea {
	padding: 8px;
	background-color: var(--primary);
	border: 2px solid var(--secondary-dark);
	border-radius: 15px;
	color: var(--primary-light);
	width: 100%;
}
.input-default {
	margin-top: 30px;
	display: block;
	position: relative;
}
.input-default > input {
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	border: 0;	
	font-size: 15px;
	background: transparent;
	color: var(--primary-light);
	border-bottom: 2px solid gray;
}
.input-dark > input {
	color: var(--secondary-dark);
}
.input-default::after {
	position: absolute;
	left: 5px;
	top: 5px;
	content: var(--label);
	color: var(--fg-placeholder);
	pointer-events: none;
	transition: top 0.15s ease-out,
		left 0.15s ease-out,
		color 0.15s ease-out;
}
.input-default.has-value::after,
.input-default:focus-within::after {
	font-weight: bold;
	top: -20px;
	color: var(--secondary);
	left: 0px;
	transition: top 0.15s ease-in,
		left 0.15s ease-in,
		color 0.15s ease-in;
}
.input-dark.has-value::after,
.input-dark:focus-within::after {
	color: var(--secondary-dark);
}
.input-default.has-value > input,
.input-default:focus-within > input{
	border-bottom-color: black;
}
.input-default svg{
	fill: white;
}
.input-group > * {
	width: calc(50% - 5px);
	display: inline-block;
	box-sizing: border-box;
}
.input-group > *:not(:last-child) {
	margin-right: 10px;
}
.input-checkbox {
	display: block;
	padding: 5px 0;
	margin: 2px 0;
}
.input-search {
	width: 100%;
	padding: 5px 10px;
	position: relative;
	box-sizing: border-box;
	border: 2px solid var(--fg-placeholder);
	border-radius: 25px;
	transition: border 0.15s ease-out;
}
.input-search:focus-within {
	border: 2px solid var(--secondary);
	transition: border 0.15s ease-in;
}

.btn {
	border: 0;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
.btn-sharp {
	border-radius: 0;
}
.btn-primary {
	background-color: var(--primary);
	color: white;
}
.btn-primary:hover {
	background-color: var(--secondary-dark);
}
.btn-outline-primary {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	transition: background-color 0.15s ease-out,
			color 0.15s ease-out;
}
.btn-outline-primary:hover {
	background-color: transparent;
	color: var(--primary-light);
	transition: background-color 0.15s ease-in,
			color 0.15s ease-in;
}
.btn-outline-primary-dark {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	transition: background-color 0.15s ease-out,
			color 0.15s ease-out;
}
.btn-outline-primary-dark:hover {
	background-color: transparent;
	color: var(--primary);
	transition: background-color 0.15s ease-in,
			color 0.15s ease-in;
}
.btn-outline-secondary {
	border: 1px solid var(--secondary-dark);
	background-color: var(--secondary-dark);
	color: var(--secondary);
	transition: background-color 0.15s ease-out,
			color 0.15s ease-out;
}
.btn-outline-secondary:hover {
	background-color: transparent;
	color: var(--secondary);
	transition: background-color 0.15s ease-in,
			color 0.15s ease-in;
}
.btn-outline-secondary-dark {
	border: 1px solid var(--secondary-dark);
	background-color: var(--secondary-dark);
	color: var(--secondary);
	transition: background-color 0.15s ease-out,
			color 0.15s ease-out;
}
.btn-outline-secondary-dark:hover {
	background-color: transparent;
	color: var(--secondary-dark);
	transition: background-color 0.15s ease-in,
			color 0.15s ease-in;
}
.btn-outline-error {
	border: 1px solid var(--error);
	background-color: var(--error);
	color: var(--primary-light);
	transition: background-color 0.15s ease-out,
			color 0.15s ease-out;
}
.btn-outline-error:hover {
	background-color: transparent;
	color: var(--error);
	transition: background-color 0.15s ease-in,
			color 0.15s ease-in;
}
.btn-md {
	padding: 7px 15px;
	font-size: 16px;
}
.btn-lg {
	padding: 22px;
	font-size: 16px;
}
.btn-xl {
	padding: 30px;
	font-size: 16px;
}
.btn-span {
	box-sizing: border-box;
	width: 100%;
}

.light-effect-container {
	position: relative;
	overflow: hidden;
}
.light-effect {
	z-index: 0;
	position: absolute;
	opacity: 0.8;
	top: 0;
		left: 0;
	background: radial-gradient(var(--primary) 0%, transparent 60%);
	transform: translate(-50%, -50%);
	width: var(--radius);
	height: var(--radius);
	pointer-events: none;
	transition: opacity 0.15s ease-in,
		height 0.15s ease-in,
		width 0.15s ease-in;
}
.light-secondary {
	background: radial-gradient(var(--secondary-dark) 0%, transparent 60%);
}
.light-effect + * {
	position: relative;
	z-index: 5;
}
.light-hidden {
	opacity: 0;
	transition: opacity 0.1s ease-out;
}

#passwordToggle {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer;
}
#passwordToggle > svg {
	height: 100%;
	width: 100%;
}

.admin-nav {
	display: inline-block;
	box-sizing: border-box;
	position: fixed;
	height: 100vh;
	width: var(--admin-nav-width);
	background-color: var(--admin-nav-primary);
	z-index: 10000;
	box-shadow: 0 0 5px 5px #00000022;
}
.admin-nav > .nav-logo {
	font-size: 25px;
	text-align: center;
	margin-bottom: 25px;
}
.admin-nav > .nav-links {
	width: 100%;
}
.admin-nav  a{
	text-decoration: none;
	display: block;
	padding: 10px 5px;
	width: 100%;
	box-sizing: border-box;
}
.admin-nav a:not(.nav-logo, .active):hover,
.admin-nav a.active {
	background-color: var(--admin-nav-primary-dark);
	color: var(--primary-light);
}
.admin-logout {
	position: absolute;
	bottom: 0;
	left: 0;
}
.admin-container {
	position: relative;
	height: 100vh;
	vertical-align: top;
	box-sizing: border-box;
	margin-left: var(--admin-nav-width);
	width: calc(100% - var(--admin-nav-width));
	padding: 25px;
}

.nav {
	position: relative;
	z-index: 1000;
	box-shadow: 0 0 5px 5px #00000055;
	width: 100%;
	min-width: 100vw;
	height: 60px;
	padding: 0 20px;
	box-sizing: border-box;
	background-color: var(--secondary-dark);
}
.nav > * {
	display: inline-block;
	vertical-align: middle;
}
.nav > .nav-logo {
	text-decoration: none;
	width: var(--nav-logo-width);
	font-size: 25px;
}
.nav-search {
	position: relative;
	width: var(--nav-search-width);
	box-sizing: border-box;
	border: 2px solid var(--fg-placeholder);
	border-radius: 25px;
	transition: border 0.15s ease-out;
}
.nav-search:focus-within {
	border: 2px solid var(--secondary);
	transition: border 0.15s ease-in;
}
.nav-search > input {
	height: 100%;
	background-color: transparent;
	border: 0;
	padding: 5px 10px;
	font-size: 16px;
	width: 100%;
}
.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 22px;
	width: 22px;
	padding: 5px 10px;
	cursor: pointer;
}
.search-btn > path{
	stroke: var(--secondary);
}
.search-btn:hover > path{
	stroke: var(--primary-light);
}

.nav > .nav-links {
	width: calc(100% - var(--nav-search-width) - var(--nav-logo-width));
	height: 100%;
	text-align: right;
}
.nav > .nav-links > * {
	display: inline-block;
	vertical-align: middle;
}
.nav > .nav-links > a:not(.nav-cart){
	box-sizing: border-box;
	padding: 20px 25px;
	height: 100%;
	border: 1px solid var(--primary-dark);
	background-color: var(--primary-dark);
	transition: background-color 0.15s ease-out;
	text-decoration: none;
}
.nav > .nav-links > a.active{
	cursor: default;
	pointer-events: none;
	border-bottom: 2px solid var(--primary-light);
}
.nav > .nav-links > a:not(.nav-cart):hover {
	color: var(--secondary-dark);
	background-color: var(--secondary);
}
.nav > .nav-cart {
	margin-left: 25px;
}
.cart-icon {
	position: relative;
	fill: var(--primary-light);
	stroke: var(--primary-light);
	padding: 5px;
	width: 22px;
	height: 22px;
}
.cart-count {
	position: absolute;
	top: 12px;
	right: 12px;
	height: 20px;
	width: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
	line-height: 20px;
	color: var(--primary-light);
	font-weight: bold;
	background-color: var(--notification);
}

.nav-user {
	margin-left: 15px;
	padding: 10px 50px 10px 15px;
	border: 1px solid var(--primary-light);
}
.nav-user:hover, .bg-primary-light {
	background-color:var(--primary-light);
}
.nav-user:hover > strong, .text-primary {
	color: var(--primary);
}
.user-icon {
	fill: var(--primary);
}
.logout-icon {
	stroke: var(--primary);
}
.dropdown {
	position: relative;
}
.dropdown-toggle {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.dropdown-toggle-btn {
	position: absolute;
	height: 12px;
	width: 12px;
	padding: 17px 10px;
	top: 0px;
	right: 0;
	stroke: var(--primary-light);
	fill: var(--primary-light);
	transition: transform 0.1s ease-out;
}
.dropdown:hover  .dropdown-toggle-btn,
.dropdown-toggle-btn:hover {
	fill: var(--secondary-dark);
	stroke: var(--secondary-dark);
}
.dropdown-toggle-closed {
	transform:  rotateZ(180deg);
	transition: transform 0.1s ease-in;
}
.dropdown-list {
	background-color: var(--primary-light);
	text-align: left;
	position: absolute;
	left: 0;
	opacity: 1;
	width: 100%;
	margin-top: 10px;
	box-sizing: border-box;
	list-style-type: none;
	transition: opacity 0.15s ease-in;
}
.dropdown-list > a {
	display: block;
	text-decoration: none;
	padding: 10px 2px;
}
.dropdown-list > a:hover {
	background-color: #94a3b8aa;
}
.dropdown-list > a > * {
	color: var(--primary);
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
}
.dropdown-item-icon {
	box-sizing: border-box;
	padding: 4px;
	width: 20%;
	height: auto;
}
.dropdown-item-text {
	margin-left: 5%;
	width: 75%;
	font-size: 14px;
}

.notif-message {
	position: fixed;
	z-index: 10000;
	top: 25px;
	right: 25px;
	padding: 15px;
	width: 300px;
	background-color: var(--secondary);
	color: var(--secondary-dark);
	animation: slide-in-out 5s ease-in-out forwards;
	border-radius: 5px;
}
.notif-message * {
	color: var(--secondary-dark);
}
.error {
	background-color: var(--admin-nav-primary);
}

.featured-banner {
	width: 100%;
	height: 500px;
	padding: 20px 100px 50px;
	box-sizing: border-box;
	background-color:var(--secondary-dark);
}
.featured-item-list {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.featured-slide-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.featured-slide {
	width: 100%;
	height: 100%;
	white-space: nowrap;
	transition: transform 0.25s ease-in;
}
.featured-item {
	display: inline-block;
	background-color:var(--primary-light);
	width: 30%;
	margin: 5px 1.5%;
	box-shadow: 0 0 5px 2px #000000bb;
	border-radius: 10px;
	overflow: hidden;
}
.featured-item-image {
	width: 100%;
	height: 300px;
	object-fit: cover;
	background-color: var(--secondary);
}
.featured-item-name {
	padding: 20px 0;
	text-align: center;
	font-size: 22px;
	line-height: 100%;
	font-weight: bold;
	color: var(--secondary-dark);
}
.featured-navigation {
	margin: 5px 0;
	text-align: center;
}
.featured-btn {
	vertical-align: middle;
	display: inline-block;
	height: 10px;
	width: 10px;
	padding: 2px;
	border-radius: 50%;
	margin: 0 4px;
	border: 1px solid var(--fg-gutter);
}
.featured-btn:not(.selected) {
	cursor: pointer;
}
.featured-btn > div {
	border-radius: 50%;
	background-color: none;
	height: 100%;
	width: 100%;
}
.featured-btn.selected > div {
	background-color: var(--primary-light);
}

.categories-container {
	margin: 50px 0;
}
.category-list {
	box-sizing: border-box;
	width: 1150px;
	margin: 10px auto;
}
.category-card {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 13px;
	border: 2px solid var(--primary);
	background-color: var(--primary-light);
	overflow: hidden;
	text-decoration: none;
}
.category-card:hover {
	border: 2px solid var(--primary-light);
}
.category-image {
	width: 100%;
	height: 170px;
	object-fit: cover;
	background-color: var(--secondary-dark);
}
.category-card > p {
	color: var(--secondary-dark);
}

.featured-products {
	padding: 50px 25px;
	background-color: var(--secondary-dark);
}
.product-card {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	background-color: var(--secondary-dark);
	width: 19%;
	margin: 0.5%;
	height: 270px;
	border-radius: 15px;
	overflow: hidden;
	transition: transform 0.15s ease-out,
		border-radius 0.15s ease-in;
}
.product-card:hover {
	transform: scale(1.02);
	border-radius: 7px;
	transition: transform 0.15s ease-in,
		border-radius 0.15s ease-in;
}
.product-card > .product-image {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.featured-products .product-card {
	background-color: var(--primary);
	width: 19%;
	margin: 0.5%;
	height: 400px;
}
.featured-products .product-image {
	width: 100%;
	height: 300px;
}
.product-card  > .product-name {
	color:var(--primary-light);
	font-weight: bold;
}
.product-card > .product-price {
	position: absolute;
	color: var(--fg-gutter);
	bottom: 5px;
	left: 5px;
}
.product-card > .product-sold {
	position: absolute;
	color: var(--fg-placeholder);
	bottom: 5px;
	right: 5px;
	font-size: 13px;
}

.index-header {
	position: absolute;
	font-size: 80px;
	top: 50px;
	width: 100%;
	text-align: center;
}

.user-form {
	background-color: var(--secondary-dark);
	border-radius: 15px;
	text-align: left;
	padding: 15px 50px;
	box-sizing: border-box;
	width: 600px;
}
.login-form {
	width: 50%;
}
.login-form .input {
	display: block;
	margin: 50px 0;
}

.register-form {
	background-color: var(--secondary-dark);
	width: 50%;
	padding: 15px;
	box-sizing: border-box;
	height: 430px;
}
.register-form input:not([type="submit"]){
	font-size: 16px;
}

.profile-form {
	display: inline-table;
	vertical-align: top;
	background-color: var(--secondary-dark);
	height: var(--dashboard-full);
	min-height: 800px;
	width: 50%;
	padding: 0 15px;
	box-sizing: border-box;
}
.profile-form > form {
	display: table-cell;
	vertical-align: middle;
}
.change-password-toggle {
	display: inline-block;
	margin: 25px 0;
	cursor: pointer;
}

.shipping-form {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;
	padding: 15px 25px;
	height: var(--dashboard-full);
}
.shipping-card {
	display: inline-block;
	width: 40%;
	height: 110px;
	box-sizing: border-box;
	padding: 10px;
	background-color: var(--fg-placeholder);
}
.shipping-list {
	padding: 10px 0;
	white-space: nowrap;
	overflow: scroll;
}
.shipping-preferred {
	background-color: var(--fg-gutter);
	position: relative;
}
.shipping-preferred::after {
	position: absolute;
	background-color: var(--secondary-dark);
	padding: 2px 5px;
	content: "Default";
	top: 0;
	right: 0;
}
.shipping-card:not(:last-child) {
	margin-right: 10px;
}
.shipping-name {
	font-size: 20px;
	font-weight: bold;
	color: var(--secondary-dark);
}
.shipping-address, .shipping-email {
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	color: var(--primary);
}

.catalog-container {
	width: 100%;
}
.catalog-header {
	padding: 25px;
}
.catalog-header > h1 {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}
.catalog-header > .catalog-search-container {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}
.catalog-search-container > * {
	display: inline-block;
	vertical-align: middle;
}
.catalog-search-filter {
	width: 60%;
	position: relative;
	margin-right: 25px;
	text-align: left;
	transition: width 0.15s ease-out;
}
.catalog-search-filter:focus-within {
	width: 70%;
	transition: width 0.15s ease-in;
}
.catalog-search {
	box-sizing: border-box;
	width: 100%;
	border-radius: 25px;
	padding: 7px 10px;
	background: transparent;
	border: 1px solid var(--primary-light);
}
.catalog-page-btn.active {
	pointer-events: none;
	color: var(--primary-light);
}
.catalog-page-btn:hover {
	color: var(--primary-light);
}
.catalog-page-btn:not(:last-child) {
	margin-right: 5px;
}
.catalog-container > * {
	display: inline-block;
	vertical-align: top;
}
.catalog-filter {
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	padding: 25px 15px;
}
.catalog-container > .catalog-list {
	box-sizing: border-box;
	padding: 15px 25px;
	margin-left: 0.5%;
	width: 79%;
}
.category-filter {
	margin-left: 15px;
	margin-bottom: 25px;
}
.category-show-more {
	display: inline-block;
	cursor: pointer;
	color: var(--fg-placeholder);
}
.category-show-more:hover {
	text-decoration: underline;
	color: var(--primary-light);
}
.price-filter {
	width: 70%;
	margin: 0 auto 25px;
}
.price-filter > input {
	border: 1px solid var(--primary-light);
	background: transparent;
	padding: 5px;
	font-size: 14px;
	color: var(--secondary)
}
.catalog-bottom-page {
	margin-left: 20%;
	width: 80%;
	padding: 15px 0; 
	box-sizing: border-box;
	text-align: center;
}

.product-sidebar {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 15px 25px;
}
.product-container {
	width: 75%;
	box-sizing: border-box;
	padding: 0 15px;
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid var(--fg-placeholder);
}
.product-info {
	position: relative;
}
.product-image-group {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	height: 400px;
	width: 300px;
}
.product-image-main {
	width: 300px;
	height: 300px;
	object-fit: cover;
	background-color: var(--primary-light);
}
.product-image-sub-container {
	position: relative;
	width: 100%;
	height: 100px;
}
.product-image-sub::after,
.product-image-sub::before {
	position: absolute;
	content: "";
	opacity: 0;
	width: 50px;
	height: 100%;
	transition: opacity 0.15s ease-out;
}
.product-image-sub-right::after {
	right: 0;
	top: 0;
	opacity: 0.8;
	background: linear-gradient(to left, var(--primary), transparent 80%);
	transition: opacity 0.15s ease-in;
}
.product-image-sub-left::before {
	left: 0;
	top: 0;
	opacity: 0.8;
	background: linear-gradient(to right, var(--primary), transparent 80%);
	transition: opacity 0.15s ease-in;
}
.product-image-sub {
	text-align: left;
	overflow-y: hidden;
	overflow-x: scroll;
	width: 100%;
	padding: 10px 0;
	height: 80px;
	white-space: nowrap;
}
.product-image-sub > * {
	display: inline-block;
	background-color: var(--primary-light);
	object-fit: cover;
	width: 90px;
	height: 100%;
}
.product-image-sub > *:not(:last-child) {
	margin-right: 15px;
}
.product-description {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 320px);
	position: relative;
}
.product-header {
	margin: 10px 0;
	width: 100%;
	position: relative
}
.product-header > .product-name {
	width: 80%;
}
.product-header > .product-price {
	position: absolute;
	top: 5px;
	right: 5px;
}
.product-buy-form {
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.product-buy-form > .product-quantity {
	padding: 9px 5px;
	width: 80px;
	text-align: center;
	vertical-align: middle;
}
.product-buy-form > .product-add-btn {
	display: inline-block;
	vertical-align: middle;
}

.reviews-container {
	margin-top: 25px;
}
.review-form {
	margin: 5px 0;
}
.reviews-container .input-textarea {
	display: inline-block;
	vertical-align: top;
	width: 85%;
	resize: none;
	height: 60px;
	box-sizing: border-box;
	border-radius: 15px 0 0 15px;
}
.reviews-container .add-btn {
	display: inline-block;
	vertical-align: top;
	width: 15%;
	border-radius: 0 15px 15px 0;
	box-sizing: border-box;
	height: 60px;
}
.reply-form {
	margin: 10px 0;
}

.review-list {
	margin: 15px 0;
}
.review-list,
.reply-list {
	list-style-type: none;
}
.reply-list {
	margin-left: var(--message-offset);
}
.user {
	font-size: 18px;
	font-weight: bold;
}
.message {
	text-align: justify;
	padding: 5px;
	padding-left: var(--message-offset);
}
.date {
	position: absolute;
	top: 0;
	right: 0;
	font-style: italic;
	color: var(--fg-placeholder);
}

.similar-product-card {
	padding: 7px;
	display: block;
	text-decoration: none;
	background-color:var(--fg-placeholder);
	height: 60px;
	margin: 10px 0;
}
.similar-product-card > .product-image {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 20%;
}
.similar-product-info {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	width: calc(80% - 10px);
}
.similar-product-info > .product-name {
	font-weight: bold;
	color: var(--secondary-dark);
}
.similar-product-info > .product-sold,
.similar-product-info > .product-price {
	font-size: 13px;
	color: var(--primary);
}

.cart-container {
	padding: 25px 0;
	width: 1000px;
	margin: 0 auto;
}
.cart-item {
	position: relative;
	padding: 5px;
	background-color: var(--secondary-dark);
	margin-bottom: 10px;
}
.cart-description {
	position: relative;
	display: inline-block;
	height: 150px;
	width: calc(100% - 200px);
	margin-left: 10px;
	vertical-align: top;
}
.cart-checkbox {
	margin-right: 10px;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
}
.cart-image {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 150px;
	object-fit: cover;
	background-color: var(--primary-light);
}
.cart-name {
	font-size: 20px;
	font-weight: bold;
}
.cart-form {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
}
.cart-quantity {
	display: block;
	padding: 7px 5px;
	width: 90px;
	text-align: center;
	margin-bottom: 10px;
}
.cart-remove {
	display: block;
	margin-left: auto;
}
.cart-total-price {
	margin-top: 5px;
	border-top: 1px solid var(--primary-light);
	padding: 5px;
	text-align: right;
}
.cart-header {
	display: block;
	padding: 5px 5px;
	background-color: var(--secondary-dark);
	color:var(--secondary);
	border-bottom: 2px solid var(--primary-light);
	font-weight: bold;
}
.cart-header > * {
	vertical-align: middle;
}
.cart-select-all {
	width: 20px;
	height: 20px;
}

.checkout-container {
	padding: 25px 0;
	margin: 0 auto;
	width: 1000px;
}
.checkout-shipping-address-container {
	position: relative;
	padding: 5px;
	margin: 10px 0;
	background-color: var(--secondary);
}
.checkout-shipping-name {
	color: var(--secondary-dark);
	font-weight: bold;
	font-size: 20px;
}
.checkout-shipping-address {
	color: var(--primary);
	font-style: italic;
}
.checkout-shipping-email {
	color: var(--primary);
	font-style: italic;
}

.select-shipping-address {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.select-shipping-address > svg {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 30px;
	padding: 0 5px;
	fill: none;
	stroke: var(--secondary-dark);
}
.select-shipping-address:hover > svg {
	background-color: var(--secondary-dark);
	stroke: var(--primary-light);
}

.checkout-order-item {
	background-color: var(--secondary-dark);
	padding: 5px;
	margin-bottom: 10px;
}
.checkout-order-image {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	vertical-align: top;
}
.checkout-order-description {
	width: calc(100% - 110px);
	height: 100px;
	position: relative;
	vertical-align: top;
	display: inline-block;
}
.checkout-order-description > .product-name {
	width: 80%;
	font-size: 20px;
	font-weight: bold;
}
.checkout-order-description > .product-price {
	position: absolute;
	top: 5px;
	right: 5px;
}
.checkout-order-description > .product-quantity {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.checkout-order-item > .product-total-price {
	padding: 5px;
	text-align: right;
	border-top: 2px solid var(--secondary);
	margin-top: 5px;
}
.checkout-address > * {
	width: calc(50% - 15px);
	display: inline-block;
	vertical-align: top;
}
.checkout-address > :first-child {
	margin-right: 15px;
}
.checkout-address > :last-child {
	padding-left: 14px;
	border-left: 1px solid var(--primary-soft);
}

.billing-same-btn {
	cursor: pointer;
	margin-left: 20px;
	display: inline-block;
}
.billing-card-info > * {
	width: 100%;
}
.billing-card-info > * {
	display: inline-block;
}
.billing-card-info > .card-number {
	width: 70%;
}
.billing-card-info > .card-cvc {
	width: 15%;
}
.billing-card-info > .card-expiry {
	width: 15%;
}
.order-bill-detail {
	margin-top: 15px;
}
.order-bill-detail > div {
	padding: 5px 0;
}
.order-bill-detail > div > * {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.order-bill-detail > div > span {
	text-align: right;
}

.admin-search {
	width: 40%;
	display: inline-block;
}
.order-search {
	width: 90%;
	position: relative;
	transition: width 0.15s ease-out;
}
.order-search:focus-within {
	width: 100%;
	transition: width 0.15s ease-in;
}
.order-search > .input-search {
	border-width: 2px;
}
.order-search > .search-btn {
	height: 100%;
	box-sizing: border-box;
	width: 30px;
	padding: 2px 5px;
	margin-right: 5px;
}
.admin-misc {
	text-align: right;
	width: 60%;
	display: inline-block;
}
.admin-list {
	width: 100%;
	margin-top: 15px;
}
.admin-list th {
	background-color: var(--admin-nav-primary-dark);
	padding: 5px 0;
	border-radius: 15px;
}
.admin-list td {
	text-align: center;
	padding: 5px 0;
}
.admin-list td:last-child,
.admin-list .id {
	min-width: 40px;
	text-align: center;
}
.admin-list .id > a {
	color: var(--admin-nav-primary);
	text-decoration: none;
}
.admin-list .id > a:hover {
	font-weight: bold;
	text-decoration: underline;
}
.admin-list .product-image {
	width: 70px;
	height: 70px;
	object-fit: cover;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: table;
	background-color: var(--transparent-dark);
	z-index: 100000;
}
.modal {
	display: table-cell;
	vertical-align: middle;
}
.modal > div {
	margin: 0 auto;
}
.edit-product {
	position: relative;
	border-radius: 10px;
	background-color: var(--secondary);
	box-sizing: border-box;
	width: 800px;
	padding: 25px;
}
.edit-product-description {
	box-sizing: border-box;
	resize: none;
	border-width: 2px;
	height: 80px;
}
.edit-product-close {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 15px;
	width: 15px;
	fill: none;
	cursor: pointer;
	stroke: var(--secondary-dark);
	border-radius: 5px;
	padding: 5px;
	stroke-width: 1.5px;
}
.edit-product-close:hover {
	background-color: var(--admin-nav-secondary);
	stroke: var(--primary-light);
	stroke-width: 2px;
}
.edit-product-num-group > .input-default {
	display: inline-block;
	width: 240px;
}
.edit-product-num-group > .input-default:not(:last-child) {
	margin-right: 15px;
}
.edit-product-category-group > * {
	display: inline-block;
}
.edit-product-category-group > .new-category {
	margin-left: 30px;
	width: 450px;
}
.edit-image-header {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
.upload-image-btn {
	display: inline-block;
	vertical-align: middle;
}

.edit-image-list {
	list-style-type: none;
	margin-top: 10px;
	height: 150px;
	overflow-y: scroll;
	border: 1px solid var(--primary);
	padding: 10px 0;
}
.edit-image-row {
	height: 50px;
	width: 100%;
	margin: 0 auto;
}
.edit-image-row:not(:first-child) {
	margin-top: 15px;
}
.edit-image-row > * {
	display: inline-block;
	vertical-align: middle;
	color: var(--primary);
}
.edit-image-preview {
	height: 50px;
	width: 50px;
	margin-right: 20px;
	object-fit: cover;
}
.edit-image-row > svg {
	box-sizing: border-box;
}
.edit-image-drag {
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	stroke: var(--primary);
	margin-right: 20px;
	cursor: -moz-grab;
}
.edit-image-remove {
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	fill: none;
	stroke: var(--admin-nav-secondary);
	height: 20px;
	width: 20px;
	margin: 0 15px;
	box-sizing: border-box;
	stroke-width: 2px;
}
.edit-image-remove:hover {
	stroke: var(--primary-light);
	background-color: var(--admin-nav-primary);
}
.edit-image-name {
	width: 300px;
}
.edit-image-row:hover > .edit-image-remove {
	opacity: 1;
	pointer-events: all;
}
.edit-image-placeholder {
	height: 50px;
	width: 100%;
	padding: 5px 0;
	background-color: var(--transparent-dark);
}

.order-address-group {
	margin-top: 15px;
}
.order-address-group td:first-child {
	padding-right: 15px;
}
.order-address-group > * {
	padding: 10px;
	display: inline-block;
	width: calc(50% - 5px);
	box-sizing: border-box;
	vertical-align: middle;
	min-height: 200px;
}
.order-billing-address {
	margin-right: 10px;
	background-color: var(--secondary-dark);
}
.order-billing-address > h2 {
	color: var(--primary-light);
}
.order-shipping-address {
	background-color: var(--primary-soft);
}
.order-item-body {
	overflow: scroll;
}
.order-description { 
	margin-top: 20px;
}
.order-description > * { 
	vertical-align: top;
}
.order-status-form { 
	display: inline-block;
}
.order-price-table { 
	margin-left: 20px;
	width: 300px;
	display: inline-table;
}
.order-price-table td:first-child { 
	font-weight: bold;
	text-align: left;
}
.order-price-table td:last-child::before { 
	content: "$ ";
}
.order-price-table td:first-child::after { 
	content: " :";
}
.admin-page-btn {
	display: inline-block;
	padding: 5px 10px;
	width: 20px;
	background-color: var(--primary-light);
	font-weight: bold;
	color: var(--secondary-dark);
	cursor: pointer;
	user-select: none;
}
.admin-page-btn.active {
	background-color: var(--primary-soft);
	color: white;
}
.admin-page-btn.active {
	pointer-events: none;
}
.admin-page-btn:hover:not(.active) {
	background-color: var(--fg-placeholder);
	color: var(--secondary-dark)
}
.admin-list-container {
	height: 790px;
}
#messageBox {
	z-index: 1000000;
}
