* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: 'Montserrat', sans-serif;
}
input[type="submit"], button {
	border: 0;
	padding: 1em 2em;
	font-size: 1em;
	border-radius: .25em;
}
body{
	width: 100%;
	height: 100%;
}
.w-full {
	width: 100%;
}
.w-half {
	width: 50%;
}
.w-quarter {
	width: 25%;
}
.h-100 {
	height: 100px;
}
.h-250 {
	height: 250px;
}

.inline-block {
	display: inline-block;
}
.block {
	display: block;
}

.p-2 {
	padding: 2em;
}
.my-2 {
	margin-top: 2em;
	margin-bottom: 2em;
}
.mx-auto {
	margin-right: auto;
	margin-left: auto;
}

.object-cover{
	object-fit: cover;
}
.object-top{
	object-position: top;
}

.border-2 {
	border: 2px solid;
}
.rounded-sm {
	border-radius: 4px;
}

.text-center {
	text-align: center;
}
.text-blue-500 {
	color: #3b82f6;
}
